@model  WebApplication1.Models.Model.Hizmet
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Düzenle</h2>

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Hizmet/Edit/@Model.HizmetId" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Acıklama <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea name="Aciklama" required class="ckeditor">@Model.Aciklama</textarea>
                <!--<input class="form-control " id="Aciklama" type="text" name="Aciklama" required />-->
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim</label>
            <div class="col-lg-10">
                <input  type="file" class="form-control " name="ResimURL" accept=".jpg,.png,.jepg" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Kaydet</button>
                <button class="btn btn-default" type="button"><a href="/Hizmet/Index"> İptal </a></button>
            </div>
        </div>
        <!-- <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">subject <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="subject" name="subject" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="ccomment" class="control-label col-lg-2">Feedback</label>
            <div class="col-lg-10">
                <textarea class="form-control " id="ccomment" name="comment" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-default" type="button">Cancel</button>
            </div>
        </div> -->
    </form>
</div>

